<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <form id = "name-form">
        <input type = "text" name = "firstName" placeholder="First Name"/>
        <br/>
        <input type = "text" name = "gameName" placeholder="Gamer Name"/>
        <br/>
        <button type = "submit">Confirm</button>
    </form>

    <div id = "successmsg"></div>

    <div id = "errormsg">
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(function(){
      $("#name-form").submit(function(e) {
          var formData = $(this).serialize();
          e.preventDefault();
          $.ajax({
              type : 'GET', 
              url : "user",
              data : formData,
              dataType : 'json',
              success: function(data){
                console.log(data);

                var curDate = new Date();
                var curMonth = curDate.getMonth()+1;
                var curDay = curDate.getDate();

                if ((curMonth == data.birthMonth) && (curDay == data.birthDay)) {
                  var successmessage = "Happy birthday"

                  if ((data.gameName === "HxCGirl") && (data.firstName === "Athina")) {
                    successmessage = "It's not much but I told you I'd give you something more than just a hug lol.";
                  }
                  
                  $("div#successmsg").html(successmessage);
                } else {
                  var errmessage = "It ain't even yo birthday right now gtfo"
                  $("div#errormsg").html(errmessage);
                }
              },
              error: function(jqxhr){
                  var errmessage = $.parseJSON(jqxhr.responseText).message;
                  console.log(errmessage);
                  $("div#errormsg").html(errmessage);
              }
          })
      })
    })

    </script>

  </body>
</html>
